

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
 
}
@keyframes gradientAnimation {
  0% { background-position: 0 0; }
 
  100% { background-position: 400% 400%; }
}

.logoAnimado{
 animation: moveLogo 2s linear infinite;
}

@keyframes moveLogo {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
